JWT_KEY = patJvZ/pUnB6MHAEbSkgGLTwsY0c5tNgqRwSav31lytyhTChuOs8VMPkwd5WhUYo01OE7cH0oaDvuRv955KAWRsp1j4BeW5nSxgV1+bDrCzAe+ERIi/fbht1u9ekw467KCGC3yRtqNd+SgAxbpfru2+zC+wl1R6GQltW8KPs0cyZoEMHuHfmPdLlHeFggZtrHRBF08D5ODXHVs7WfnNP3NPwH11QFyR5M+tZik0nHbmx/EojBbLemlYMTmqtDxr9vdZSONpxj7K4AGJ3KNVUtuv+GRBsNRUp1D+veNLExTNW+6bW6i1wuAraiJdnRDDlzWKTGY6lXepLqTTUew3UIw==
PORT = 8000